/* anti-bug */

html {
  scroll-behavior: smooth;

  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* general-config */

p {
  font-family: 'Inter', sans-serif;
}

@import 'partes/index-beta';