@use './colors';
@use './fonts';

@mixin button-desktop($color: colors.$preto, $bg-color: colors.$cinza-claro) {
  color: $color;
  background-color: $bg-color;
  padding: 10px 20px;
  border-radius: 5px;
  
  @include fonts.button-desktop;

  //animação hover
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}

@mixin button-desktop-hover() {
  transform:scale(1.15,1.15) translate3d(0,0,0);
}