$preto: #090909;
$cinza-muito-escuro: #1B1B1B;
$cinza-escuro: #383838;
$cinza: #9F9F9F;
$cinza-semi-claro: #D8D8D8;
$cinza-claro: #DBDBDB;
$branco: #E2E2E2;
$branco-puro: #FFFFFF;

// Cores exóticas

$verde: #3FC90E;