
#page-1 {
  background-color: #0E0E0E;
  color: #CCCCCC;
}

#page-2 {
  background-color: #1A1A1A;
  color: #DEDEDE;
}

#page-3 {
  background-color: #2E2E2E;
  color: #EDEDED;
}

#page-4 {
  background-color: #404040;
  color: #F7F7F7;
}
