@use '../variables/colors';
@use '../variables/animations';
@use '../variables/fonts';

/* page-placement */
section {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-around;

  h1 {
    background: none;
    font-size: fonts.toRem(40);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
  }

  h1::after{
    display: inline-block;
    margin-left: 10px;
    height: 5px;
    width: 20px;
    background-color: colors.$branco;
    content: "";
    animation: pointer 1s infinite;
  }
}

.active {
  z-index: 2;
}

.pre-active {
  z-index: 1;
}

/* pages */
#page-1 {
  background-color: #0E0E0E;
  color: colors.$cinza-claro;
}

#page-2 {
  background-color: #1A1A1A;
  color: colors.$cinza-claro;
}

#page-3 {
  background-color: #2E2E2E;
  color: colors.$branco;
}

#page-4 {
  background-color: #404040;
  color: colors.$branco;
}
