@use '../variables/colors';

#page-1 {
  background-color: #0E0E0E;
  color: colors.$cinza-claro;
}

#page-2 {
  background-color: #1A1A1A;
  color: colors.$cinza-claro;
}

#page-3 {
  background-color: #2E2E2E;
  color: colors.$branco;
}

#page-4 {
  background-color: #404040;
  color: colors.$branco;
}
