@use '../variables/animations';
@use '../variables/colors';
@use '../variables/fonts';

section {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-around;

  h1 {
    background: none;
    font-size: fonts.toRem(40);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
  }

  h1::after{
    display: inline-block;
    margin-left: 10px;
    height: 5px;
    width: 20px;
    background-color: colors.$branco;
    content: "";
    animation: pointer 1s infinite;
  }
}

.active {
  z-index: 2;
}

.pre-active {
  z-index: 1;
}